@font-face {
  font-family: 'Rockness';
  src: local('Rockness'), url(./fonts/FontsFree-Net-rockness.ttf) format('truetype');
}

@font-face {
  font-family: 'TestFoundersGroteskCondSmBd';
  src: local('TestFoundersGroteskCondSmBd'), url(./fonts/TestFoundersGroteskCondensed-Semibold.otf) format('truetype');
}

@font-face {
  font-family: 'ProximaNova';
  src: local('ProximaNova'), url(./fonts/FontsFree-Net-Proxima-Nova-Bold.otf) format('truetype');
}

@font-face {
  font-family: 'TestFoundersGroteskCondRegular';
  src: local('TestFoundersGroteskCondRegular'), url(./fonts/TestFoundersGrotesk-Regular.otf) format('truetype');
}

.App {
  width: 100%;
  background-color: #fff;
}

.body {
  width: 100%;
}
/*
.App .Content {
  text-align: center;
}
*/

.section1{
  width: 100%;
  margin-top: -60px;
}

.bg-section1{
  width: 100%;
  padding-top: 100px;
  padding-bottom: 160px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x:right;
  background-position-y: center;
}

.p-cameraman{
  font-family: TestFoundersGroteskCondSmBd;
  font-size: 50pt;
  line-height: 0.9em;
  color: #ffffff;
  text-align: left;
  margin-top: 150px;
  margin-left: 50px;
}
  
.p1-cameraman{
  font-family: TestFoundersGroteskCondRegular;
  font-size: 17px;
  color: #ffffff;
  text-align: left;
  margin-left: 50px;
  margin-top: -70px;
}

.btn-register-cameraman{
  font-family: ProximaNova;
  background-color: black;
  color: #ffffff;
  height: 35px;   
  width: 130px;
  margin-top: -10px;
  margin-left: 50px;
  border: none;
  font-size: 14px;
}
  
.btn-register-cameraman:hover{
  cursor: pointer;
  background-color: grey;
  scale: 0.8;
}

.social-cameraman-a{
  text-decoration: none;
  color: #ffffff;
}

.social-cameraman{
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  line-height: 1.6em;
  color: #ffffff;
  text-align: right;
  float: right;
  margin-right: 6%;
  margin-top: 7%;
}

.section2{
  width: 100%;
  margin-top: -70px;
}

.bg-section2{
  width: 100%;
  background-position: 350px 13%;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-section2{
  font-size: 70px;
  font-weight:bolder ;
  line-height: 1.1em;
  color: #191919;
  text-align: left;
  padding-top: 5%;
  margin-left: 10%;
}

.hr-section2{
  margin-left: 10%;
  margin-top: -72px;
  width: 450px;
  border: 2px solid #d1202f;
  background-color: #d1202f;
}

.span-section2{
  font-size: 20px;
  margin-top: 15px;
  margin-left: 10%;
  line-height: 1.2em;
  color: rgb(129, 129, 129);
  text-align: left;
}

.section3{
  width: 100%;
}

.bg-section3{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;  
  background-position-x:center;
  background-position-y: center;
}

.inline-first-div{
  width:100%;
  padding-top: 1%;
  display: flex;
}

.first-div-first-columns-div{
  width:34%;
  font-size: 90px;
  color: #d1202f;
  padding-left: 18%;
}

.first-div-second-columns-div{
  width:33%;
  font-size: 90px;
  color: #d1202f;
  padding-left: 4%;
}

.first-div-third-columns-div{
  width:33%;
  display: flex;
}
.usd{  
  background-color: #d1202f;
  color: #303030;
  font-size: 34px;
  position: absolute;
  margin-top: 2%;
  rotate: 270deg;
}

.inline-second-div{
  width:100%;
  margin-top: -10%;
  display: flex;
}

.second-div-first-columns-div{
  width:34%;
  font-size: 90px;
  color: #d1202f;
  padding-left: 18%;
}

.second-div-second-columns-div{
  width:33%;
  font-size: 90px;
  color: #d1202f;
  padding-left: 4%;
}

.spanCounter{
  color: #f4f4f4;
  font-size: 12px;
  font-weight: 400;
  margin-top: -4%;
  width: 194px;
  text-align: left;
  padding-left:2%;
}


.section4{
  width: 100%;
  margin-top: -50px;
}

.bg-section4{
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;  
  background-position-x:center;
  background-position-y: center;
}

.p-section4{
  font-size: 40px;
  color: #191919;
  padding-left: 80px;
  font-weight:bolder ;
  text-align: left;
  padding-top: 100px;
  margin-left: 40px;
}

.imgSection4Top{
  width:80%;
  padding-left: 10%;
}

.p-sub-section4{
  font-size: 34px;
  text-align: left;
  padding-left: 150px;
  color: #191919;
}

.p-sub-sub-section4{
  font-size: 20px;
  color: #191919;
  text-align: left;
  padding-left: 150px;
  margin-top: -20px;
}

.inline-div-section4{
  width:100%;
  padding-top: 1%;
  display: flex;
}

.first-colomn-section4{
  width:50%;
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding-left: 10%;
  padding-right: 5%;
}

.img-section4-left{
  width: 100%;
}

.second-colomn-section4{
  width:50%;
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding-right: 10%;
  padding-left: 5%;
}

.img-section4-right{
  width: 100%;
}

.p-right-left-section4{
  padding-right: 140px;
  text-align: left;
  color: #d1202f;
}

.h6-section4-right-left{
  color: black;
  font-size: 14px;
  margin-top: -2%;
}


.section5{
  background-color: rgb(255, 255, 255);
  width: 100%;
  margin-top: -50px;
  border-bottom-left-radius: 50% 5%;
  border-bottom-right-radius: 50% 5%;
  z-index: 1;
  position: relative;
}

.bg-section5{
  width: 100%;
  margin-top: 50px;
  background-size: cover;
  background-repeat: no-repeat;  
  background-position-x:center;
  background-position-y: center;
}

.inline-div-section5{
  width:100%;
  padding-top: 1%;
  display: flex;
}

.first-colomn-section5{
  width:50%;
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding-left: 10%;
}

.img-section5-top-left{
  width: 80%;
  height: 20%;
}

.img-section5-left{
  width: 95%;
}

.second-colomn-section5{
  width:50%;
  font-size: 14px;
  color: rgb(0, 0, 0);
  padding-right: 10%;
  padding-left: 8%;
}

.img-section5-right{
  width: 100%;
}

.sub-inline-div-section5{
  width:100%;
  padding-top: 0%;
  display: flex;
}

.p1-first-colomn-section5{
  padding-left: 8px;
  font-size: 20px;
  padding-right: 140px;
  text-align: left;
  color: #0e110d;
}

.p1-second-colomn-section5{
  padding-left: 8px;
  font-size: 20px;
  padding-right: 140px;
  text-align: left;
  color: #0e110d;
}

.p2-first-colomn-section5{
  font-size: 20px;
  text-align: left;
  color: #0e110d;
}

.p2-second-colomn-section5{
  font-size: 20px;
  text-align: left;
  color: #0e110d;
}

.btn-register-first-colomn-section5{
  font-size: 14px;
  float: right;
  background-color: #d1202f;
  border: none;
  color: #f4f4f4;
  font-weight: bolder;
  padding: 10px;
  margin-right: 25%;
}

.btn-register-first-colomn-section5:hover{
  cursor: pointer;
  background-color: grey;
  scale: 0.8;
}

.btn-register-second-colomn-section5{
  font-size: 14px;
  float: right;
  background-color: #d1202f;
  border: none;
  color: #f4f4f4;
  font-weight: bolder;
  padding: 10px;
  margin-right: 25%;
}

.btn-register-second-colomn-section5:hover{
  cursor: pointer;
  background-color: grey;
  scale: 0.8;
}

.section6{
  background-color: #303030;
  margin-top: -10%;
  width: 100%;
}

.bg-section6{
  background-position: center;
  width: 100%;
  padding-top: 18%;
  padding-bottom: 10%;    
}

.sub-bg-section6{
  background-position: center;
  width: 90%;
  padding: 5%;
}

.p-section6{
  color: #f2f2f2;
  font-size: 40px;
  text-align: center;
}
  
  .sub-p-section6{
    color: #f2f2f2;
    font-size: 30px; 
    text-align: center;
  }

  .btn-register-section6{
    background-color: #0f0f0f;
    color: #f4f4f4;
    height: 32.5px;   
    width: 200px;
    margin-top: 2%;
    width: 110px;
    border: none;
    font-weight: bold;
    display:block;
    margin:0 auto;
    width: fit-content;
    text-align:center;
  }


.btn-register-section6:hover{
  cursor: pointer;
  background-color: grey;
  scale: 0.8;
}

.section7{
  width: 100%;
}

.bg-section7{
  width: 90%;
  padding: 5%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}


.section8{
  width: 100%;
  background-color: #f4f4f4;
  padding-top: 5%;
}

.bg-section8{
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-x: -8%;
  padding-bottom: 400px;
}

.inline-div-section8{
  width:100%;
  padding-top: 0%;
  display: flex;
}

.first-columns-section8{
  font-family: TestFoundersGroteskCondSmBd;
  width:34%;
  font-size: 50.04pt;
  font-weight: bolder;
  color: #d1202f;
  text-align: right;
  margin-top: 1%;
}

.second-columns-section8{
  width:33%;
  color: red;
  padding-left: 14%;
}

.label-section8{
  font-size: 13px;
  color: black;
}

.inputLabel-section8{
  width: 50%;
  height: 12%;
  margin-bottom: 2%;
  background-color: #f4f4f4;
  border: 1px solid #3a3a3a;
}

.third-columns-section8{
  width:33%;
  color: red;
  padding-left: 4%;
}

.inputTextarea-section8{
  width: 50%;
  height: 42%;
  margin-bottom: 2%;
  background-color: #f4f4f4;
  border: 1px solid #3a3a3a;
}

.subscribe-btn-section8{
  background-color: #d1202f;
  color: #f4f4f4;
  height: 20.07pt;   
  margin-top: 2%;
  border: none;
  font-weight: bold;
  display:block;
  margin:0 auto;
  width: fit-content;
  margin-left: 32%;
}

 
.subscribe-btn-section8:hover{
  cursor: pointer;
  background-color: grey;
  scale: 0.8;
}

.section9{
  width: 100%;
  margin-top: -30%;
  opacity: 0.7;
}

.bg-section9{
  background-repeat: no-repeat;
  background-size: 30%;
}

.inline-div-section9{
  width:100%;
  padding-top: 1%;
  display: flex;
}


.first-columns-section9{
  font-family: ProximaNova;
  width:25%;
  color: #f2f2f2;
  margin-top: 1%;
  text-align: center;
}

.LogoFooter {
  grid-area: logo;
  height: 40px;
  margin-top: 1%;
  padding-left: 50%;
  padding-bottom: 5%;
}

.first-columns-section9-content{
  width:100%;
  text-align: left;
  padding-left: 50%;
}

.first-columns-section9-content-social{
  width: 100%;
  text-align: left;
  padding-left: 50%;
  display:inline;
}

.fa {
  width: 15%;
  font-size: 20px;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-twitter {
  color: white;
}

.second-columns-section9{
  font-family: ProximaNova;
  width:25%;
  color: #f2f2f2;
  margin-top: 1%;
  padding-left: 10%;
  text-align: left;
}


.third-columns-section9{
  font-family: ProximaNova;
  width:25%;
  color: #f2f2f2;
  margin-top: 1%;
  padding-left: 0%;
  text-align: left;
}

.inputLabel-section9{
  width: 100%;
  height: 40px;
  background-color: #191919;
  border: 1px solid #f2f2f2;
}

.privacy-section9{
  font-size: 10px;
}

.fourth-columns-section9{
  width:25%;
  padding-left: 1%;
}

.btn-subscribe{
  font-family: ProximaNova;
  background-color: #f2f2f2;
  color: #191919;
  height: 40px;   
  width: 130px;
  margin-top: 26%;
  margin-left: 0%;
  border: none;
  font-size: 14px;
}
